version: "3"

services:
  api:
    build: ./api
    ports:
      - "${API_PORT}:${API_PORT}"
      - "40000:40000"
    volumes:
      - ./api:/application
    env_file:
      - .env
  db:
    image: mariadb
    restart: always
    ports:
    - "3307:3306"
    env_file:
      - .env
    volumes:
     - ./database/_data:/var/lib/mysql